.tasks-container {
    width: 100%;
    max-width: 550px
}

.tasks-form {
    margin-top: 48px;
    width: 100%;
    box-shadow: 0 8px 32px 0 rgba(151, 37, 33, 0.726);
    border-radius: 8px;
}

.tasks-form input {
    padding: 10px 12px;
    width: 80%;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: capitalize;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.tasks-form button {
    padding: 10px 0px;
    width: 20%;
    background-color:  rgba(184, 76, 73, 0.972);
    font-size: 1.3rem;
    color: #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer; 
}

.task-list {
    list-style-type: none;
    margin: 12px auto;
    width: 90%;
}

.task-item {
    padding: 10px 12px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: rgb(85, 85, 85);
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(151, 37, 33, 0.726);
    border-radius: 5px;
    transition: transform 1.5s ease;
    animation: slideUp 2s ease;
}

.task-item:hover {
    transform: scale(1.03)
}

@keyframes slideUp {
    from {
        transform: translateY(50px)
    }
    to {
        transform: translateY(0px);
    }
}

.task-item p {
    flex-grow: 1;
}

.check-btn {
    margin-right: 14px;
    padding-top: 4px;
    line-height: 100%;
    background-color: transparent;
    font-size: 1.7rem;
    color: #dfdfdf;
    border: none;
    cursor: pointer;
    position: relative;
}

.delete-btn {
    line-height: 100%;
    background-color: transparent;
    font-size: 1.5rem;
    color: #dfdfdf;
    border: none;
    cursor: pointer;
}

.check-btn:hover {
    backdrop-filter: blur( 53.5px );
    -webkit-backdrop-filter: blur( 53.5px );
}

.delete-btn:hover {
    color: rgb(207, 79, 79)
}

.text-done {
    text-decoration: line-through;
    color: #d1d1d1
}

.btn-done {
    color:  rgb(217, 85, 80) ;
}

@media screen and (max-width: 500px) {
    .tasks-form {
        margin-top: 25px;
    }

    .task-item {
        padding: 5px 12px;
        margin: 8px 0;
        font-size: 1.2rem;
    }
}
